* {
    box-sizing: border-box;
}

body {
    margin: 15px 15px;
}

ul > li {
    background-color: rgb(0, 187, 0)
}

.wrapper {
    display: inline-block;
    text-align: center;
    width: 475px;
    padding: 10px 0px 10px 0px;
}

.message-submit {
    position: relative;
    float: right;
    width: 100px;
}

.message-wrapper {
    float: left;

}

#messages {
    position: relative;
    list-style: none;
    padding: 20px 0px 0px 0px;
    margin: 0;
    height: 75vh;
    overflow: scroll;
}

#messages > li {
    padding-top: 15px;
}

#typing {
    text-emphasis: italic;
}

#messages > span {
    font-size: 12px;
    font-style: italic;
}

#message {
    width: 210%;
    line-height: 28px;
}
