* {
    box-sizing: border-box;
}

body {
    margin: 15px 15px;
}

.wrapper {
    display: inline-block;
    text-align: center;
}

.message-submit {
    position: relative;
    float: right;
}

.message-wrapper {
    float: left;

}

#messages {
    position: relative;
    list-style: none;
    padding: 20px 0px 0px 0px;
    margin: 0;
    height: 60vh;
    overflow: scroll;
}

#messages > li {
    padding-top: 15px;
}

#typing {
    text-emphasis: italic;
}

#messages > span {
    font-size: 12px;
    font-style: italic;
}
