* {
    box-sizing: border-box;
}

body {
    
    background-image: url("./images/background3.jpg");
    margin: 15px 15px;
}

li {
    color: white;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 24px;
    padding-left: 7px;
    border-radius: 10px;
    margin-top: 10px;
    /* background-image: url("./images/background2.jpg"); */
}

li:nth-child(3n) {
    background-color: rgb(0, 119, 0)
}

li:nth-child(3n + 1) {
    background-color: rgb(32, 32, 119)
}

li:nth-child(3n + 2) {
    background-color: rgb(103, 0, 112)
}

.change-button {
    margin-top: 10px;
}

.wrapper {
    display: inline-block;
    text-align: center;
    width: 475px;
    padding: 10px 0px 10px 0px;
}

.message-submit {
    position: relative;
    float: right;
    width: 100px;
    left: 40%;
}

.message-wrapper {
    float: left;
}

#messages {
    position: relative;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    height: 75vh;
    overflow: scroll;
    background-image: url("./images/background2.jpg");
}

.navbar-brand {
    padding: 15px 0px 0px 0px;
    font-size: 38px;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: bolder;
    color: rgb(201, 201, 201);
}

.navbar-brand:hover {
    color: rgb(236, 0, 236);
}

#typing {
    text-emphasis: italic;
}

#messages > span {
    font-size: 14px;
    font-style: italic;
    color: white;
}

#message {
    width: 286%;
    line-height: 28px;
}

.message-submit:hover, .change-button:hover {
    background-color: rgb(236, 0, 236);
    color: white;
}

#name-input {
    margin-top: 10px;
}

footer {
    position: fixed;
}